@font-face {
  font-family: "JetBrainsMono";
  src: local("JetBrainsMono"),
    url(../../dist/fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf)
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
